* {
  margin: 0;
  padding: 0;
}

.container-home {
  background-image: url("../../IMG-2456.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.imagen {
  display: flex;
  justify-content: center;
}
